/* Variables */
:root {
  --base-color: #050046;
  --border-radius: 5rem;
  --btn-primary: #03d603;
  --btn-secondary: #007a00;
  --btn-accent-primary: #b10202;
  --btn-accent-secondary: #f73434;
  --text-color: #fff;
}

body {
  background: var(--base-color);
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  height: 100%;
}
.wrapper {
  background: var(--base-color);
  margin: 30px auto;
  text-align: center;
  width: 80rem;
}
h1,
h2 {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  text-transform: capitalize;
}
.btn__container {
  margin-top: 2rem;
}
button {
  border-radius: var(--border-radius);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.3rem;
  margin: 2rem 1rem;
  outline: none;
  padding: 1rem 4rem;
  text-transform: capitalize;
  transition: all 0.5s ease-in;
  width: 14rem;
}

#button-restart {
  background: var(--btn-primary);
}

#button-restart:hover {
  background: var(--btn-secondary);
}

#seconds,
#tens {
  font-size: 3rem;
  line-height: 10rem;
}
.wrapper__caption {
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 24px 8px rgb(140, 204, 247);
  color: var(--text-color);
  height: 10rem;
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: center;
  width: 10rem;
}
.fa-undo {
  color: var(--text-color);
  margin-right: 10px;
}

.start {
  background: var(--btn-primary);
}

.start:hover {
  background: var(--btn-secondary);
}

.stop {
  background: var(--btn-accent-primary);
}

.stop:hover {
  background: var(--btn-accent-secondary);
}
